body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("https://images.app.goo.gl/YdoLr8Qnu2JtX7e96");
    background-size: cover;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 20px;
    padding: 16px;
}

.gallery-container img {
    width: 100%; /* Make sure images take 100% of their container */
    height: 500px; /* Fixed height for all images */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border: 2px solid blue; /* Add a 2px gray border to all images */
    border-radius: 8px; /* Add a slight border radius for a softer look */
    transition: transform 0.2s ease-in-out; /* Add a smooth transition effect */
}

.gallery-container img:hover {
    transform: scale(1.1); /* Enlarge the image slightly on hover */
}
h2{
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
}
